<div class="panel">
    <h3>
      <strong>Name:</strong>
      <%= @beer_club.name %>
    </h3>

    <p>
      <strong>Established:</strong>
      <%= @beer_club.founded %>
    </p>
    <p>
      <strong>Home city:</strong>
      <%= @beer_club.city %>
    </p>
</div>

<% if @beer_club.users.count.nonzero? %>
    <table>
      <thead>
      <tr>
        <th>Members</th>
      </tr>
      </thead>

      <tbody>
      <% @beer_club.users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if current_user %>
    <% if not_a_member %>
        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:'Join the club', class: 'button success' %>
        <% end %>
    <% else %>
        <%= form_for(@membership, method: 'delete') do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: 'End the membership', class: 'button alert' %>
        <% end %>
    <% end %>
    <%= link_to 'Edit', edit_beer_club_path(@beer_club), class: 'button info' %>
<% end %>
<%= link_to 'Back', :back, class: 'button default' %>
