<h3>
  <strong>Username:</strong>
  <%= @user.username %>
  <% if @user.suspended %>
    <span class="label">account frozen</span>
  <% end %>
</h3>

<p>
  Rated <%= pluralize(@user.ratings.count, 'beer') %> with an average of: <%= @user.average_rating %>
</p>
<% if @user.ratings.count > 0 %>
    <p>Favorite style <%= @user.favorite_style.name %> and favorite beer <%= @user.favorite_beer %></p>
    <p>Favorite brewery <%= @user.favorite_brewery.name %></p>
<% end %>

<% if @user.ratings.count.nonzero? %>
    <table>
      <thead>
      <tr>
        <th>Ratings</th>
      </tr>
      </thead>

      <tbody>
      <% @user.ratings.each do |rating| %>
          <tr>
            <td><%= rating %></td>
            <% if @user == current_user %>
                <td><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, id: "rating#{rating.id}" %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if @user.memberships.count.nonzero? %>
    <table>
      <thead>
      <tr>
        <th>Member of following beer clubs</th>
      </tr>
      </thead>

      <tbody>
      <% @user.beer_clubs.each do |club| %>
          <tr>
            <td><%= club %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if current_user.admin %>
  <%= link_to (@user.suspended ? 'Unfreeze account' : 'Freeze account'), toggle_suspension_user_path(@user.id), method: :post, class: 'button alert' %>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'button info' %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %>
<% end %>
<%= link_to 'Back', users_path, class: 'button default' %>
