<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<% if @style.beers.count.nonzero? %>
    <table>
      <thead>
      <tr>
        <th>Beers</th>
      </tr>
      </thead>

      <tbody>
      <% @style.beers.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td>
            <td><%= link_to beer.brewery.name, beer.brewery %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= edit_and_destroy_buttons(@style) %>
<%= link_to 'Back', styles_path, class: 'button default' %>
