<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<i>
  Established in <%= @brewery.year %>
</i>

<table>
    <thead>
        <tr>
          <th>Beers</th>
        </tr>
    </thead>
    <tbody>
      <% @brewery.beers.each do |beer| %>
        <tr>
          <td><%= link_to beer.name, beer %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
