<% if notice %>
    <div class="panel">
      <h5><%= notice %></h5>
    </div>
<% end %>


<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag 'Search' %>
<% end %>

<% if @places %>
    <table>
      <thead>
        <td></td>
        <td>Name</td>
        <td>Address</td>
        <td>Country</td>
        <td>Overall</td>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <td><%= place.status %></td>
            <td><%= link_to place.name, "#{places_path}/#{place.id}" %></td>
            <td><%= "#{place.street}, #{place.zip} #{place.city}" %></td>
            <td><%= place.country %></td>
            <td><%= place.overall %></td>
          </tr>
      <% end %>
    </table>
<% end %>